service cloud.firestore {
  match /databases/{database}/documents {
    match /event/{document=**} {
      allow read, write;
    }
    match /tweet/{document=**} {
      allow read, write;
    }
    match /schedules/{document=**} {
      allow read, write: if false;
    }
  }
}
